.card-container {
  width: 220px;
  height: 130px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.card-header {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.card-title {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  height: 40%;
}
.card-weight {
  width: 100%;
  font-weight: 500;
  color: #808080;
}

.card-bottom {
  display: flex;
  align-items: flex-end;
  height: 60%;
  justify-content: space-between;
}
.card-price {
  color: #909090;
  font-weight: 500;
}
.card-bottom img {
  object-fit: cover;
  border-radius: 5px;
}
